<% provide(:title,'Home') %>
<div class="center hero-unit">
  <h1>Sample App</h1>

  <h2>
    This is the home page for the
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% verse="Этот день счастливый самый!
День Рождения твоего!
В этот день от всей души я
Пожелать хочу всего!
И богатства, и здоровья!
И конечно же тепла!
Чтобы жизнь твоя похожа
На мечту всегда была!"
i=0
while i < verse.length %>
<%=print verse[i] %>
<%
	sleep 0.25
	i+=1
end
%>
